/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

#root {
  width: 100%;
  height: 100%;
}